body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}

h1{
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
    margin-top: 50px auto 0 auto;
    font-size: 5.625em;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

p{
    line-height: 2;
}

hr{
    border: dotted #d1d1d1 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999e;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:#eaf6f6
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;

}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    width: 150px;
    height: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    width: 150px;
    height: 100px;
}

.top-mountain{
    width: 600px;
    height: 350px;
}

.code-img{
    width: 40%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

.coding-img{
    width: 40%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}

.jason-img{
    width: 15%;
    height: 20%;
    border-radius: 100%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #119998);
    background-image: -moz-linear-gradient(top, #11cdd4, #119998);
    background-image: -ms-linear-gradient(top, #11cdd4, #119998);
    background-image: -o-linear-gradient(top, #11cdd4, #119998);
    background-image: linear-gradient(to bottom, #11cdd4, #119998);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }